########################################
# CONFIG SENSIBLES
########################################

config/admin.json
config/*.json
!config/example.json

########################################
# DEPENDANCES & MODULES
########################################

node_modules/
node_modules/electron/

########################################
# BUILD / COMPILATION
########################################

dist/
out/
release/
*.asar

########################################
# RUNTIMES LOURDS
########################################

launcher-data/runtime/
Minecraft/

########################################
# LOGS
########################################

*.log

########################################
# SYSTEME / OS
########################################

.DS_Store
Thumbs.db

########################################
# EDITEURS
########################################

.vscode/
.idea/
